[user]
    name = Henrique-Sousa
    email = 29417378+Henrique-Sousa@users.noreply.github.com
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[core]
    editor = vim
    pager = cat
    excludesfile = ~/.excludesfile
[alias]
    s = status
    lo = log --oneline -n 30
    lgao = log --graph --all --oneline -n 30
    a = add
    ap = add --patch
    c = commit
    cm = commit -m 
    ca = commit --amend
    d = diff
    dc = diff --cached
    dt = difftool
    dtc = difftool --cached
    p = push
    po = push origin
    pom = push origin master 
    pa = push --all
    b = branch
    co = checkout
    cb = checkout -b
    m = merge
    unmodify = checkout --
    unstage = reset HEAD --
    untrack = rm --cached
